.vl {
    border-left: 1px solid black;
    height: auto;
}

.favorable {
    color: green;
}

.moderate {
    color: orange;
}

.severe {
    color: #B71C1C;
}

ul {
    list-style: none;
   padding-left: 0;
}

li {
    margin-bottom: 8px;
}

#five-day-forecast {
    display: flex;
    align-content: space-evenly;
}

.forecast-card {
    padding: 16px;
}